body {
  font-size: 13px;
  padding: 30px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.edge {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5;
}

.node-circle {
  fill: #999;
}